body{
	margin: 0;
	padding: 0;
    height: 100%;
}

.esquerdo{
	float: left;
	width: 60%;
	height: 100%;
}
.direito{
	float: right;
	width: 40%;

	
}
section {
	width: 100%;
	display:inline-block;
}
.direito img {
	margin-top: 60px;
	margin-left: -140px;
}

.name {
    height: 570px;
	width: 100%;
	
}
.menuresponsivo{
	height: 40px;
	width: 100%;
	margin-top: 20px;
	display: none;
}
.menuresponsivo img{
	float: left;
	margin-left: 20px;
}
.menu a {
color:black;
padding: 20px;
display: block;
text-decoration: none;
font-size: 20px;
margin: 20px;
margin-left: 50px;

}
.menu li {
list-style: none;
display: inline-block;

}
.menu a:hover{
	background-color: #696969;
	color: #FFFFF0;
	
}
h1{
 font-size: 150px;
 font-family: arial;
 margin-left: 50px;
 color: #000;
}
h3{
 font-size: 50px;
 font-family: arial;
 margin-left: 70px;
 color: #696969;
 margin-top: -100px;

 
}
.autor{
	
	height: 40px;
	width: 80%; 
	display: inline-block;
	margin-top: 20px;

}
.autoria{
	width: 50%;
	height: 40px;
	float: left;
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 20px;
	color:696969;
}
.social{
	width: 50%;
	height: 50px;
	float: right;
    border-radius: 20px;
    display: flex;
	


}
.social a {
	width: 40px;
	height: 40px;
	float: right;
	border-radius: 20px;
margin-left: 40px;
	
}
.social img{
	border-radius: 20px;
}
@media only screen and (min-width: 100px) and (max-width: 1340px){
.autoria{
	width: 100%;
	height: 40px;
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 20px;
	color:696969;
}
.social{
	width: 100%;
	height: 40px;

    border-radius: 20px;
    display: flex;
	align-items:center;
	justify-content:center;

}
.autor{
	
	height: 80px;
	width: 100%; 
	display:block;
	margin-top: 70px;

}
.menu a {
color:black;
padding: 10px;
display: block;
text-decoration: none;
font-size: 20px;
margin: 10px;
margin-left: 50px;
	width: 100%;
}
.direito img {
	width: 800px;
	height: 700px;
}
}
@media only screen and (max-width: 1200px){
.direito img {
	width: 600px;
	height: 500px;
	margin-top: 100px;
}
.menu a {
color:black;
padding: 5px;
display: block;
text-decoration: none;
font-size: 20px;
margin: 5px;
margin-left: 30px;
	width: 100%;
}
}
@media only screen and (min-width: 100px)and (max-width: 980px){
	.menu {
		text-align: center;
		margin: 0px;
	}
	.menu a{
		margin-left: 10px;
		width: 100%;
	}
h1{
 font-size: 120px;
 font-family: arial;

 color: #000;
}
h3{
 font-size: 30px;
 font-family: arial;

 color: #696969;
 margin-top: -100px;
 
 
}
.name{
	width: 100%;
	display:block;
	justify-content:center;
	text-align: center;

}
.esquerdo{
	height: 300px;
	width: 100%;
	
}
.direito{
	display: flex;
	width: 100%;
	justify-content:Center;
	align-items:center;	
}
.direito img{
margin-left: 190px;
}
.autor{
	
	height: 80px;
	width: 100%; 
	display:block;
	margin-top: 90px;

}
@media only screen and (max-width: 806px){
	
h1{
 font-size: 100px;
 font-family: arial;

 color: #000;
}
.direito img{
margin-left: 130px;
}
}
@media only screen and (min-width: 250px) and (max-width: 505px){
	.menuresponsivo{
		display: block;
	}
	
.name {
    height: 300px;
	width: 100%;
	text-align: center;

}
.menu ul {
	display: none;
float: left;
}
.menu a {
color:black;
padding: 10px;
display: block;
font-size: 20px;
margin: 10px;
width: 100%;

}
.menu li {
list-style: none;
display: block;
background-color: #696969;
text-align: left;
margin-left: -20px;


}
h1{
 font-size: 80px;
 font-family: arial;
 margin-top: 10px;
 color: #000;
}
h3{
	margin-top:-40px;
	text-align: center;
	margin-left: 25px;
}
}
@media only screen and (min-width: 150px) and (max-width: 450px){
	.direito img{
margin-left: 60px;
width: 300px;
height: 200px;
margin-top: 100px;
}
h3{
	margin-top:-40px;

	margin-left: 10px;
}
h1{
 font-size: 60px;
 font-family: arial;
 margin-top: 60px;
 color: #000;
 margin-left: 10px;
}
.autoria{
	width: 100%;
	height: 40px;
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 14px;
	color:696969;
}
.menu ul {
	display: none;
float: left;
}
.menu a {
color:black;
padding: 10px;
display: block;
font-size: 20px;
margin: 10px;
width: 100%;

}
.menu li {
list-style: none;
display: block;
background-color: #696969;
text-align: left;
margin-left: -20px;


}
.direito{
	display: flex;
	width: 100%;
	justify-content:Center;
	align-items:center;	
	margin-top: 10px;
}
}